@if (show$ | async) {
  <h2>{{ "SETTINGS.TITLE" | translate }}</h2>
  <div class="inputs">
    <app-number-input
      data-cy="delay"
      [label]="'SOLVER.DELAY.DELAY' | translate"
      [value]="delay$ | async"
      inputWidth="5em"
      [tooltip]="'SOLVER.DELAY.TOOLTIP' | translate"
      (valueChange)="setDelay($event)"
    ></app-number-input>
    <app-number-input
      data-cy="maxSteps"
      [label]="'SOLVER.STEPS.MAX.MAX' | translate"
      [value]="maxSteps$ | async"
      inputWidth="5em"
      [tooltip]="'SOLVER.STEPS.MAX.TOOLTIP' | translate"
      (valueChange)="setMaxSteps($event)"
    ></app-number-input>
    <app-number-input
      data-cy="pauseAtStep"
      [label]="'SOLVER.STEPS.PAUSE_AT_STEP.LABEL' | translate"
      [value]="pauseAfterStep$ | async"
      inputWidth="5em"
      [tooltip]="'SOLVER.STEPS.PAUSE_AT_STEP.TOOLTIP' | translate"
      (valueChange)="setPauseAfterStep($event)"
    ></app-number-input>
    <app-number-input
      data-cy="highlightValue"
      [label]="'SOLVER.HIGHLIGHT.NUMBER.LABEL' | translate"
      [value]="highlightNumber$ | async"
      inputWidth="5em"
      [tooltip]="'SOLVER.HIGHLIGHT.NUMBER.TOOLTIP' | translate"
      (valueChange)="setHighlightNumber($event)"
    ></app-number-input>
    <button data-cy="copySudoku" (click)="copyCurrentSudoku()">
      <app-icon icon="copy"></app-icon>
      {{ "PUZZLE.COPY_TO_CLIPBOARD" | translate }}
    </button>
  </div>
}
