@use "_mixins" as *;

.inputs {
  margin-top: 0.5em;

  display: grid;
  grid-template-columns: auto auto max-content;
  gap: 0.5em;
  align-items: center;

  app-number-input {
    display: contents;
  }

  button {
    grid-column: 1 / -1;
  }
}
