@use "_constants" as *;

input {
  border: none;
  outline: none;
  border-bottom: 2px solid $primary-color;
  min-width: 3em;
  text-align: right;
  flex-grow: 1;

  &::before,
  &::after {
    background-color: $primary-color;
    color: $on-primary-color;
    display: none;
  }

  &:hover,
  &:focus {
    border-bottom-color: $primary-hover-color;
  }
}
