@use "_constants" as *;

$icon-size: 24px;
$icon-padding: 4px;
$icon-size-with-padding: 32px;

:host {
  display: flex;
  gap: 1em;
  align-items: center;
}

.icon {
  padding: $icon-padding;
  height: $icon-size-with-padding;
  width: $icon-size-with-padding;

  app-icon {
    height: $icon-size;
    width: $icon-size;
  }
}
