@use "_constants" as *;

:host {
  border-radius: $border-radius;
  width: 10em;

  &.hidden {
    display: none;
  }

  background-color: $invalid-background-color;
  color: $invalid-color;
  &.valid {
    background-color: $valid-background-color;
    color: $valid-color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
}

.bold {
  font-weight: $font-weight-bolder;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
