@use "_constants" as *;

:host {
  display: contents;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: $border-radius;
  width: 10em;
}

.bold {
  font-weight: $font-weight-bolder;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.valid {
  background-color: $valid-background-color;
  color: $valid-color;
}

.invalid {
  background-color: $invalid-background-color;
  color: $invalid-color;
}
