// --- general ---
$primary-color: #1967d2;
$on-primary-color: white;
$primary-hover-color: #2763b8;

$secondary-color: #c5ddff;
$on-secondary-color: black;

// --- borders ---
$border-color: #ddd;
$border: 1px solid $border-color;

// --- cells ---
$cell-size: 2em;
