// --- general ---
$primary-color: #1967d2;
$on-primary-color: white;
$primary-hover-color: #2763b8;

$secondary-color: #c5ddff;
$on-secondary-color: black;

// --- borders ---
$border-color: #ddd;
$border: 1px solid $border-color;

// --- verification ---
$valid-color: #0fa523;
$valid-background-color: #0fa5232d;
$invalid-color: #b31010;
$invalid-background-color: #b310102d;
