// --- general ---
$text-color-default: black;
$text-color-lighter: #777777;

$background-color: #e7eaf0;
$surface-color: white;

$primary-color: #1967d2;
$on-primary-color: white;
$primary-hover-color: #2763b8;

$secondary-color: #c5ddff;
$on-secondary-color: $text-color-default;
$secondary-hover-color: #d1e4fd;

// --- sudoku grid cells ---
$highlight-color: #cedef5;
$on-highlight-color: #030c1a;
$highlight-hover-color: #bcd2f1;

$changed-color: #1967d2;
$on-changed-color: white;
$changed-hover-color: #2763b8;

// --- borders ---
$border-color: #8d8d8d;
$border: 1px solid $border-color;
$border-radius: 2px;

// --- verification ---
$valid-color: #0fa523;
$valid-background-color: #d3eed7;
$invalid-color: #b31010;
$invalid-background-color: #f1d3d3;
$label-color: #353535;
$label-background-color: #d4d4d4;

// --- text ---
$font-weight-normal: 400;
$font-weight-lighter: 200;
$font-weight-bolder: 600;
