{{ "SOLVER.STATUS.TITLE" | translate }}:
@switch (state$ | async) {
  @case ("NOT_STARTED") {
    <div data-cy="NOT_STARTED" class="state">
      {{ "SOLVER.STATUS.NOT_STARTED" | translate }}
    </div>
  }
  @case ("RUNNING") {
    <div data-cy="RUNNING" class="state">
      {{ "SOLVER.STATUS.RUNNING" | translate }}
    </div>
  }
  @case ("PAUSED") {
    <div data-cy="PAUSED" class="state">
      {{ "SOLVER.STATUS.PAUSED" | translate }}
    </div>
  }
  @case ("DONE") {
    <div data-cy="DONE" class="state success">
      {{
        "SOLVER.STATUS.DONE"
          | translate
            : {
                time:
                  time$ | async | number: "1.1-1" : this.translate.currentLang,
              }
      }}
    </div>
  }
  @case ("FAILED") {
    <div data-cy="FAILED" class="state failure">
      {{ "SOLVER.STATUS.FAILED" | translate }}
    </div>
  }
  @default {}
}
