@use "_constants" as *;

:host {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.state {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  white-space: nowrap;
  background-color: $label-background-color;
  color: $label-color;
}

.success {
  background-color: $valid-background-color;
  color: $valid-color;
}

.failure {
  background-color: $invalid-background-color;
  color: $invalid-color;
}
