@use "_constants" as *;

:host {
  &.focused {
    background-color: $secondary-color;
    color: $on-secondary-color;
  }
  &.invalid {
    background-color: $invalid-background-color;
    color: $invalid-color;
  }

  cursor: pointer;
  &.readonly {
    cursor: not-allowed;
  }
}

input {
  display: flex;
  box-sizing: border-box;
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  text-align: center;
  caret-color: transparent;

  appearance: textfield;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  cursor: inherit;
  &:hover,
  &:focus {
    cursor: inherit;
  }

  &::selection {
    background-color: transparent;
  }
}
