@if (show$ | async) {
  <app-section class="sudoku-grid">
    <h2 class="header-with-hint">
      {{ "PUZZLE.TITLE" | translate }}
      <app-icon
        icon="info"
        [title]="'HINTS.USE_KEYBOARD' | translate"
      ></app-icon>
    </h2>
    <app-sudoku-grid
      class="grid"
      [grid]="grid$ | async"
      (valueChange)="onCellChange($event)"
      (valueSubmit)="onCellSubmit($event)"
    >
    </app-sudoku-grid>
  </app-section>
  <app-sudoku-puzzle-solver-switch></app-sudoku-puzzle-solver-switch>
  <app-section>
    <app-sudoku-size-selection
      [selected]="size$ | async"
      (sizeChange)="setSize($event)"
    ></app-sudoku-size-selection>
  </app-section>
  <app-hint-list [hints]="hints"></app-hint-list>
}
