@if (show$ | async) {
  <app-section class="sudoku-grid">
    @if (grid$ | async; as grid) {
      <app-sudoku-grid
        class="grid"
        [grid]="grid"
        (valueChange)="onCellChange($event)"
        (valueSubmit)="onCellSubmit($event)"
      >
      </app-sudoku-grid>
      @if ((grid?.rows?.length ?? 0) > 0) {
        <div>
          {{ "SETTINGS.HINTS.ENTER_VALUES" | translate }}
        </div>
      }
    }
  </app-section>
  <app-sudoku-puzzle-solver-switch></app-sudoku-puzzle-solver-switch>
  <app-section>
    <app-sudoku-size-selection
      [selected]="size$ | async"
      (sizeChange)="setSize($event)"
    ></app-sudoku-size-selection>
  </app-section>
}
