@use "constants" as *;

:host {
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr);
  grid-template-rows: min-content min-content minmax(min-content, 1fr);
  gap: 1em;
}

app-section {
  flex-direction: column;
  gap: 1em;
  overflow: auto;
}

.sudoku-grid {
  grid-row: 1 / span 3;
}

.header-with-hint {
  display: flex;
  gap: 0.5em;
  align-items: center;

  app-icon {
    color: $label-color;
  }
}
