@if (show$ | async) {
  <app-section class="sudoku-grid">
    @if (grid$ | async; as grid) {
      <app-sudoku-grid
        class="grid"
        [grid]="grid"
        (valueChange)="onCellChange($event)"
        (valueSubmit)="onCellSubmit($event)"
      >
      </app-sudoku-grid>
      @if ((grid?.rows?.length ?? 0) > 0) {
        <div>
          {{ "SETTINGS.HINTS.ENTER_VALUES" | translate }}
        </div>
      }
    }
  </app-section>
  <app-sudoku-puzzle-solver-switch></app-sudoku-puzzle-solver-switch>
  <app-section>
    <app-selection-list
      data-cy="sudoku-size-selection"
      id="sizeInput"
      [label]="'SETTINGS.SIZE' | translate"
      [value]="size$ | async"
      [values]="selectionSizes"
      (valueChange)="setSize($event)"
    ></app-selection-list>
  </app-section>
}
