:host {
  display: contents;
}

.container {
  display: flex;
  gap: 1em;
}

.solver {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: auto;
}

.top {
  display: flex;
  gap: 1em;
  align-items: center;
}
