@if (viewModels$ | async; as viewModels) {
  @if (viewModels.length > 0) {
    <div class="top">
      <app-sudoku-solver-actions></app-sudoku-solver-actions>
      <app-sudoku-solver-status></app-sudoku-solver-status>
      <app-sudoku-solver-steps></app-sudoku-solver-steps>
    </div>
    @for (viewModel of viewModels; track viewModel.id; let i = $index) {
      <div class="branch">
        <app-sudoku-grid
          [grid]="viewModel"
          [verification]="(verification$ | async)?.[viewModel.id]"
          [highlightNumber]="highlightNumber$ | async"
          [readonly]="true"
        ></app-sudoku-grid>
      </div>
    }
  }
}
