@if (viewModels$ | async; as branches) {
  @if (branches.length > 0) {
    <div class="top">
      <app-sudoku-solver-actions></app-sudoku-solver-actions>
      <app-sudoku-solver-status></app-sudoku-solver-status>
      <app-sudoku-solver-steps></app-sudoku-solver-steps>
    </div>
    @for (branch of branches; track trackByFn(i, branch); let i = $index) {
      <div class="branch">
        <app-sudoku-grid
          [grid]="branch"
          [verification]="((verification$ | async) ?? [])[i]"
          [highlightNumber]="highlightNumber$ | async"
          [readonly]="true"
        ></app-sudoku-grid>
      </div>
    }
  }
}
