:host {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content min-content minmax(
      min-content,
      1fr
    );
  gap: 1em;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.solver {
  overflow: auto;
  grid-row: 1 / span 4;
}
