:host {
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr);
  grid-template-rows: min-content min-content min-content minmax(
      min-content,
      1fr
    );
  gap: 1em;
}

app-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.solver {
  grid-row: 1 / span 4;

  overflow: auto;
}

.status {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5em;

  * {
    display: contents;
  }
}

.actions-and-speed {
  display: flex;
  gap: 1em;
  justify-content: space-between;

  .speed {
    flex-grow: 1;
  }
}
