<ng-container *ngIf="confirmed$ | async; else editSettings">
  <button id="changeSettings" (click)="changeSettings()">
    <app-icon>edit</app-icon>
    {{ "SETTINGS.CHANGE" | translate }}
  </button>
</ng-container>
<ng-template #editSettings>
  <div>{{ "SETTINGS.HINTS.SELECT_OR_SIZE" | translate }}</div>
  <div class="settings">
    <app-dropdown-input
      [label]="'SETTINGS.SELECT' | translate"
      [items]="selectionItems"
      [selectedItem]="selectedItem$ | async"
      (selected)="onSelect($event)"
    ></app-dropdown-input>
    <app-number-input
      id="sizeInput"
      [label]="'SETTINGS.SIZE' | translate"
      [value]="size$ | async"
      (valueChange)="setSize($event)"
    ></app-number-input>
  </div>
  <div *ngIf="((grid$ | async)?.length ?? 0) > 0">
    {{ "SETTINGS.HINTS.ENTER_VALUES" | translate }}
  </div>
  <app-sudoku-grid
    [grid]="grid$ | async"
    [verification]="verification$ | async"
    [duplications]="duplications$ | async"
    (valueChange)="onGridChange($event)"
  >
  </app-sudoku-grid>
  <button
    id="confirmSettings"
    class="primary"
    [disabled]="!(verification$ | async)?.isValid()"
    (click)="submit()"
  >
    <app-icon>done</app-icon>
    {{ "SETTINGS.DONE" | translate }}
  </button>
</ng-template>
