@use "_constants" as *;
@import "./../sudoku-grid-cell.styles.scss";

:host {
  color: $text-color-lighter;
  cursor: not-allowed;
  @include hostMixin();
}

.notes {
  font-size: 9px;
  display: grid;
  box-sizing: border-box;
  padding: 2px;
  gap: 2px;

  .note {
    font-family: monospace;

    line-height: 10px;
    height: 10px;
    width: 10px;
    text-align: center;
  }
}
