@use "_constants" as *;
@import "./../sudoku-grid-cell.styles.scss";

:host {
  @include hostMixin();

  color: $text-color-lighter;
  cursor: not-allowed;
}

.notes {
  font-size: 8px;
  display: grid;
  box-sizing: border-box;
  padding: 2px;
  gap: 2px;

  .note {
    text-align: center;
  }
}
