@use "_constants" as *;

:host {
  display: flex;
}

.main {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  overflow: auto;

  .content {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;

  min-width: fit-content;
  flex-shrink: 1;
  border-left: $border;

  * {
    padding: 0.5em;
  }

  app-language-selection {
    flex-grow: 1;
    align-items: flex-end;
  }
}
