<button
  id="start"
  class="icon"
  [disabled]="(canStart$ | async) === false"
  [title]="'SOLVER.ACTIONS.START' | translate"
  (click)="start()"
>
  <app-icon>play_arrow</app-icon>
</button>
<button
  id="pause"
  class="icon"
  [disabled]="(canPause$ | async) === false"
  [title]="'SOLVER.ACTIONS.PAUSE' | translate"
  (click)="pause()"
>
  <app-icon>pause</app-icon>
</button>
<button
  id="next"
  class="icon"
  [disabled]="(canGoToNext$ | async) === false"
  [title]="'SOLVER.ACTIONS.NEXT' | translate"
  (click)="next()"
>
  <app-icon>skip_next</app-icon>
</button>
