@use "_constants" as *;

:host {
  display: flex;
  align-items: center;
  width: $cell-size;
  height: $cell-size;

  border-right: 1px solid gray;
  &:first-of-type {
    border-left: 3px solid gray;
  }
  &:last-of-type,
  &.end-of-square {
    border-right: 3px solid gray;
  }

  &.focused {
    background-color: $secondary-color;
    color: $on-secondary-color;
  }
}

input {
  display: flex;
  width: $cell-size;
  height: $cell-size;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  caret-color: transparent;

  cursor: pointer;
  &:hover, &:focus {
    cursor: pointer;
  }

  &::selection {
    background-color: transparent;
  }
}
