@use "_constants" as *;

:host {
  display: flex;
  align-items: center;

  border: 1px solid gray;
  &.border-right {
    border-right-width: 3px;
  }
  &.border-left {
    border-left-width: 3px;
  }
  &.border-top {
    border-top-width: 3px;
  }
  &.border-bottom {
    border-bottom-width: 3px;
  }

  &.focused {
    background-color: $secondary-color;
    color: $on-secondary-color;
  }

  &.highlight {
    background-color: $highlight-color;
    color: $on-highlight-color;
    &:hover {
      background-color: $highlight-hover-color;
    }
  }

  &.duplicate,
  &.invalid {
    background-color: $invalid-background-color;
    color: $invalid-color;
  }

  cursor: pointer;
  &.readonly {
    cursor: not-allowed;
  }
}

input {
  display: flex;
  box-sizing: border-box;
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  text-align: center;
  caret-color: transparent;

  appearance: textfield;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  cursor: inherit;
  &:hover,
  &:focus {
    cursor: inherit;
  }

  &::selection {
    background-color: transparent;
  }
}

.notes {
  font-size: 8px;
  display: grid;
  box-sizing: border-box;
  padding: 2px;
  gap: 2px;
  opacity: 70%;

  .note {
    text-align: center;
  }
}
