@if (displayValues$ | async; as displayValues) {
  <app-sudoku-grid-cell-multiple-values
    [attr.data-cy]="dataCy"
    [values]="displayValues"
    [size]="size"
    [maxValue]="maxValue"
    [isDuplicate]="isDuplicate"
    [highlight]="highlight"
    [changed]="(changed$ | async) ?? false"
  ></app-sudoku-grid-cell-multiple-values>
} @else {
  <app-sudoku-grid-cell-single-value
    [attr.data-cy]="dataCy"
    [value]="displayValue$ | async"
    [size]="size"
    [maxValue]="maxValue"
    [readonly]="readonly"
    [isDuplicate]="isDuplicate"
    [highlight]="highlight"
    [changed]="(changed$ | async) ?? false"
    (valueChange)="onChange($event)"
    (valueSubmit)="onSubmit($event)"
  ></app-sudoku-grid-cell-single-value>
}
