@use "_constants" as *;

:host {
  display: flex;
  align-items: center;

  border: $border;
  &.border-right {
    border-right-width: 3px;
  }
  &.border-left {
    border-left-width: 3px;
  }
  &.border-top {
    border-top-width: 3px;
  }
  &.border-bottom {
    border-bottom-width: 3px;
  }
}
