<button
  id="start"
  class="icon primary"
  [disabled]="(canStart$ | async) === false"
  [title]="'SOLVER.ACTIONS.START' | translate"
  (click)="start()"
>
  <app-icon icon="play"></app-icon>
</button>
<button
  id="pause"
  class="icon primary"
  [disabled]="(canPause$ | async) === false"
  [title]="'SOLVER.ACTIONS.PAUSE' | translate"
  (click)="pause()"
>
  <app-icon icon="pause"></app-icon>
</button>
<button
  id="next"
  class="icon primary"
  [disabled]="(canGoToNext$ | async) === false"
  [title]="'SOLVER.ACTIONS.NEXT' | translate"
  (click)="next()"
>
  <app-icon icon="skip_next"></app-icon>
</button>
@if (canRestart$ | async) {
  <button
    id="restart"
    class="icon primary"
    [title]="'SOLVER.ACTIONS.RESTART' | translate"
    (click)="restart()"
  >
    <app-icon icon="restart"></app-icon>
  </button>
}
