@use "_constants" as *;
@use "_mixins" as *;

:host {
  @include section;
  display: flex;
}

div {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.close {
  color: $primary-color;
  cursor: pointer;
}
