@use "_constants" as *;

app-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5em;

  .full-width {
    grid-column: 1 / -1;
  }
}

.close {
  color: $primary-color;
  cursor: pointer;
  padding: 0.25em;

  &:hover {
    background-color: $secondary-color;
  }
}
