@if (row$ | async; as row) {
  @if (highlightCells$ | async; as highlightCells) {
    @for (
      cell of row.cells;
      track cell.id;
      let i = $index;
      let first = $first;
      let last = $last
    ) {
      <app-sudoku-grid-cell
        [cell]="cell"
        [attr.data-cy]="
          'cell-' + cell.data.cellPosition.x + '-' + cell.data.cellPosition.y
        "
        [borderTop]="borderTop"
        [borderRight]="last || (sqrt ? (i + 1) % sqrt === 0 : false)"
        [borderBottom]="borderBottom"
        [borderLeft]="first"
        [highlight]="highlightCells[i] ?? false"
        [readonly]="readonly"
        (valueChange)="onCellChanged($event, i)"
        (valueSubmit)="onCellSubmitted($event, i)"
      ></app-sudoku-grid-cell>
    }
  }
}
