<ng-container *ngIf="_row">
  <ng-container
    *ngFor="
      let cell of _row;
      let i = index;
      let first = first;
      let last = last;
      trackBy: trackByFn
    "
  >
    <app-sudoku-grid-cell
      [cell]="cell"
      [isDuplicate]="columnsWithDuplicates?.includes(i) ?? false"
      [borderTop]="borderTop"
      [borderRight]="last || (sqrt ? (i + 1) % sqrt === 0 : false)"
      [borderBottom]="borderBottom"
      [borderLeft]="first"
      [highlight]="highlightCells[i]"
      [maxValue]="_row.length"
      [readonly]="readonly"
      (valueChange)="onCellChanged($event, i)"
    ></app-sudoku-grid-cell>
  </ng-container>
</ng-container>
